<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.stock_seckill_system.mapper.ProductMapper">
    <select id="findById" parameterType="java.lang.Long" resultType="com.example.stock_seckill_system.model.Product">
        SELECT * FROM product WHERE id = #{id}
    </select>
    
    <update id="updateStock" parameterType="java.lang.Long">
        UPDATE product SET stock = stock - 1 WHERE id = #{id} AND stock > 0
    </update>
    
    <update id="updateStockByQuantity" parameterType="map">
        UPDATE product SET stock = stock + #{stock} WHERE id = #{id} AND stock > -#{stock}
    </update>
    
    <update id="updateSeckillStock" parameterType="map">
        UPDATE product SET seckill_stock = seckill_stock + #{seckillStock} WHERE id = #{id} AND seckill_stock > -#{seckillStock}
    </update>
    
    <select id="selectAll" resultType="com.example.stock_seckill_system.model.Product">
        SELECT * FROM product
    </select>
</mapper>